@using Microsoft.AspNetCore.Identity
@using RentalStore.Areas.Identity.Data

@model List<RentalStore.Models.Movie>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-white">
    <div class="row mt-5 border-bottom border-3">
        <div class="col text-center">
			<div>
			<h2>Movies</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                <a class="btn btn-primary mb-3" asp-action="Index" asp-controller="Movies">Read More</a>
            </div>
        </div>
        <div class="col text-center">
			<div>
			<h2>Tv-Shows</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus asperiores quasi cupiditate. Voluptatum ducimus voluptates voluptas?</p>
                <a class="btn btn-primary mb-3" asp-controller="TvShow" asp-action="Index">Read More</a>
            </div>
        </div>
    </div>
    <div class="flex-row d-flex align-items-center text-center mt-3 border-bottom border-3">
        <div class="row col">
            <p class="fs-3 fw-bold">Rental Plans</p>
			<p class="fs-4">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-primary" asp-controller="RentalPlan" asp-action="Index">Read More</a>
                }
                else
                {
                    <a class=" btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
            </p>
        </div>
            <div class="mb-3 row fs-4 col">
                <div class="">Basic</div>
                <div class="">Medium</div>
                <div class="">Large</div>
            </div>
    </div>
</div>
